```makefile

.Rhistory

.Rapp.history

.RData

.Rproj.user/

.Renviron

_quarto/

_freeze/

*.html

*.pdf

*.docx

*_files/ # Ignora carpetas como 'index_files'

*.udpipe

.DS_Store

Thumbs.db

_models/

```